# Node
node_modules/

# Build
dist/
build/

# Env
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/*
!.vscode/extensions.json

# Prisma
apps/api/prisma/*.db
